<div class="col-xs-6 col-sm-6 col-lg-7 text-right">
    <ul>
        <li><a asp-action="CheckOut" asp-controller="Cart" title="Checkout"><i class="fa fa-share"></i>Xác nhận giỏ hàng</a></li>
    </ul>
</div>