@foreach (var item in Model)
{
    <div class="item">
        <span class="new">New</span>
        <ul class="viewcart">
            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Giỏ hàng"><i class="fa fa-cart-plus"></i></a></li>
            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Yêu thích"><i class="fa fa-heart"></i></a></li>
            <li><a asp-action="ProductDetails" asp-controller="Home" asp-route-productId="@item.ProductId" data-toggle="tooltip" data-placement="right" title="Chi tiết"><i class="fa fa-eye"></i></a></li>
        </ul>
        <a href="#">
            <img src="~/images/Product/@item.ProductImage" alt="shirt" class="normal">
            <img src="~/images/Product/@item.ProductImage" alt="shirt" class="hoverimg">
        </a>
        <ul class="rating">
            @for (int i = 0; i < item.ProductRatting; i++)
            {
                <li class="active"><i class="fa fa-star"></i></li>
            }
            @for (int i = 0; i < 5 - item.ProductRatting; i++)
            {
                <li class=""><i class="fa fa-star"></i></li>
            }
        </ul>
        <p>@item.ProductName</p>
        <p class="price"><span>@item.ProductPrice</span><span class="del">@item.ProductPrice</span></p>
    </div>
}