
@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<FITHAUI.ShoppingCart.UI.Models.Product>
@{
    IEnumerable<Product> productByCategory = ViewBag.ProductByCategory as IEnumerable<Product>;
    IEnumerable<Category> category = ViewBag.Category as IEnumerable<Category>;
    IEnumerable<Product> productNew = ViewBag.ProductNew as IEnumerable<Product>;
    IEnumerable<Product> productHost = ViewBag.ProductHost as IEnumerable<Product>;
}
<section class="incategory">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-3">
                <div class="lcate">
                    <h6>Danh mục sản phẩm</h6>
                    <ul>
                        @Html.Partial("~/Views/Home/VerticalMenu.cshtml", category)
                    </ul>
                </div>
                <div class="lcate">
                    <div class="lcateimg">
                        <a href="#">
                            <img src="../images/cate.jpg" alt="cartgory" class="img-responsive" style="width:213px; height: 280px;">
                        </a>
                        <div class="inover">
                            <h3>Giám giá<br> 50%<br></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-9">
                <div class="product">
                    @Html.Partial("~/Views/Home/_ProductCategoryPartial.cshtml", productByCategory)
                </div>
                <div class="col-sm-12">
                    @Html.PagedListPager(Model, page => Url.Action("GetAllProductList", new { page }))
                </div>
            </div>
        </div>
    </div>
</section>
