@{
    ViewData["Title"] = "DANNY SHOP";
}
@{
    IEnumerable<Product> productNew = ViewBag.ProductNew as IEnumerable<Product>;
    IEnumerable<Product> productHost = ViewBag.ProductHost as IEnumerable<Product>;
    IEnumerable<Product> productSearch = ViewBag.ProductSearch as IEnumerable<Product>;
    IEnumerable<Category> category = ViewBag.Category as IEnumerable<Category>;
    IEnumerable<CartIndexViewModel> cart = ViewBag.cart as IEnumerable<CartIndexViewModel>;
}
<section>
    <div class="container">
        <div class="row slider">
            <div id="slidercarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#slidercarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#slidercarousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="images/s1.jpg" alt="Women Fashion">
                        <div class="carousel-caption">
                            <h2>Sản phẩm tuyệt vời nhất 2018</h2>
                            <h3>Săn đón sản phẩm</h3>
                            <a href="#" title="Mua ngay" class="button">Mua ngay <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/s2.jpg" alt="Women Fashion">
                        <div class="carousel-caption">
                            <h2>Tận hưởng mua sắm trực tuyến</h2>
                            <h3>Giảm giá 50% các sản phẩm</h3>
                            <a href="#" title="Mua ngay" class="button">Mua ngay <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#slidercarousel" role="button" data-slide="prev">
                    <span class="fa fa-angle-left fa-3x" aria-hidden="true"></span>
                    <span class="sr-only">Quay lại</span>
                </a>
                <a class="right carousel-control" href="#slidercarousel" role="button" data-slide="next">
                    <span class="fa fa-angle-right fa-3x" aria-hidden="true"></span>
                    <span class="sr-only">Tiếp theo</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row homebanner">
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row deals">
            <div class="col-sm-12 padded">
                <img src="images/de1.png" alt="deal">
                <div class="dealbox">
                    <h2>Lượt khách hàng truy cập</h2>
                    <p>Giảm giá 50% các sản phẩm</p>
                    <ul id="clockdiv">
                        <li>
                            <label class="days"></label>
                            <span>Ngày</span>
                        </li>
                        <li>
                            <label class="hours"></label>
                            <span>Giờ</span>
                        </li>
                        <li>
                            <label class="minutes"></label>
                            <span>Phút</span>
                        </li>
                        <li>
                            <label class="seconds"></label>
                            <span>Giây</span>
                        </li>
                    </ul>
                    <a href="#" class="button">@ViewBag.NumberVisitAmount</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row product">
            <div class="col-sm-12 text-center">
                <h2 class="heading">Sản phẩm mới</h2>
            </div>
            <div class="col-sm-12 text-center tabdata">
                <div class="tab-content">
                    <div class="tab-pane active" id="latest">
                        <div class="owl-carousel pbox">

                            @Html.Partial("_ProductPartialNew", productNew)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row product">
            <div class="col-sm-12 text-center">
                <h2 class="heading">Sản phẩm bán chạy</h2>
            </div>
            <div class="col-sm-12 text-center">
                <div class="owl-carousel pbox">
                    @Html.Partial("_ProductPartialHost", productHost)
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row newsletter">
            <div class="col-sm-12 col-lg-6">
                <h5><i class="fa fa-paper-plane-o fa-3x"></i>Đăng ký theo dõi chúng tôi<span>Bạn sẽ không bõ lỡ bất kỳ tin khuyến mãi nào</span></h5>
            </div>
            <div class="col-sm-12 col-lg-6">
                <input type="text" name="email" placeholder="Nhập địa chi Email">
                <input type="submit" name="subscribe" value="Theo dõi" class="button">
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="categorie">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-align-justify"></i>All Categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a href="#">Accessories<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Fashion<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Furnitures<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Shoes<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Smartphone<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Towels Cloud<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Watches<i class="fa fa-plus"></i></a></li>
                    <li><a href="#">Electronics<i class="fa fa-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="views">
    <div class="modal-dialog">
        <div class="modal-content row">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="col-sm-12 col-lg-5">
                <a href="#"><img src="images/big1.jpg" alt="viewimg"></a>
            </div>
            <div class="col-sm-12 col-lg-7 detail">
                <h4>Tunique</h4>
                <span class="price">$ 56</span>
                <ul class="brand">
                    <li>Brand: <a href="#">Apple</a></li>
                    <li>Product Code: d6</li>
                    <li>Sold By: <a href="#">Labore Magna</a></li>
                    <li>Availability: <i class="fa fa-check-square-o"></i> In Stock</li>
                </ul>
                <h6>OverView</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <h6>Available Options</h6>
                <ul class="colors">
                    <li title="Yellow"><input type="radio" name="color" checked="checked" id="size01"><label for="size01"></label></li>
                    <li class="blue" title="Blue "><input type="radio" name="color" id="size02"><label for="size02"></label></li>
                    <li class="lime" title="Lime"><input type="radio" name="color" id="size03"><label for="size03"></label></li>
                    <li class="silver" title="Silver"><input type="radio" name="color" id="size04"><label for="size04"></label></li>
                    <li class="pink" title="Pink"><input type="radio" name="color" id="size05"><label for="size05"></label></li>
                </ul>
                <ul class="incrtevalue">
                    <li>
                        <form>
                            <input type='button' value='-' class='qtyminus button' />
                            <input type='text' name='quantity' value='1' class='qty' />
                            <input type='button' value='+' class='qtyplus button' />
                        </form>
                    </li>
                    <li><a href="#" title="Add to Cart" class="button"><i class="fa fa-shopping-cart"></i>ADD TO CART</a></li>
                    <li><a href="detail-one.html" title="" class="button"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
