@model IEnumerable<FITHAUI.ShoppingCart.UI.Models.Category>
@{
    var groupedList = from ca in Model
                      group ca by ca.CategoryId into depGroup
                      orderby depGroup.Key ascending
                      select depGroup;

    foreach (var group in groupedList)
    {
        foreach (var item in group.GroupBy(x => x.CategoryName))
        {
            <li><a asp-action="GetProductByCategoryId" asp-controller="Product" asp-route-categoryName="@item.Key"> @item.Key</a></li>
        }
    }
}

