@foreach (var item in Model)
{
<div class="col-sm-12 col-lg-9 padded">
    <div class="col-sm-12 col-lg-5">
        <div class="image">
            <a href="../images/big1.jpg" title="" class="cloud-zoom" id='zoom1'>
                <img src="../images/big1.jpg" title="" alt="" id="image" />
            </a>
        </div>
        <div id="controler">
            <div class="thumbView image-additional">
                <a href="../images/big1.jpg" title="" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '../images/big1.jpg' "><img src="../images/small1.jpg" title="" alt="" onclick="largelink('../images/big1.jpg')" /></a>
                <a href="../images/big2.jpg" title="" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '../images/big2.jpg' "><img src="../images/small2.jpg" title="" alt="" onclick="largelink('../images/big2.jpg')" /></a>
                <a href="../images/big3.jpg" title="" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '../images/big3.jpg' "><img src="../images/small3.jpg" title="" alt="" onclick="largelink('../images/big3.jpg')" /></a>
            </div>
            <a class="pagerPrev"><i class="fa fa-angle-left"></i></a>
            <a class="pagerNext"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <div class="col-sm-12 col-lg-7">
        <h4>Tunique</h4>
        <span class="price">$ 56</span>
        <ul class="brand">
            <li>Nhãn hiệu: <a href="#">@item.ProductBrand</a></li>
            <li>Mã sản phẩm: @item.ProductCode</li>
            <li>Sold By: <a href="#">Labore Magna</a></li>
            <li>Availability: <i class="fa fa-check-square-o"></i> In Stock</li>
        </ul>
        <h6>Mô tả sản phẩm</h6>
        <p>@item.ProductDescriptionLong</p>
        <h6>Available Options</h6>
        <ul class="colors">
            <li title="Yellow"><input type="radio" name="color" checked="checked" id="color01"><label for="color01"></label></li>
            <li class="blue" title="Blue "><input type="radio" name="color" id="color02"><label for="color02"></label></li>
            <li class="lime" title="Lime"><input type="radio" name="color" id="color03"><label for="color03"></label></li>
            <li class="silver" title="Silver"><input type="radio" name="color" id="color04"><label for="color04"></label></li>
            <li class="pink" title="Pink"><input type="radio" name="color" id="color05"><label for="color05"></label></li>
        </ul>
        <ul class="incrtevalue">
            <li>
                <form>
                    <input type='button' value='-' class='qtyminus button' />
                    <input type='text' name='quantity' value='1' class='qty' />
                    <input type='button' value='+' class='qtyplus button' />
                </form>
            </li>
            <li><a href="#" title="Add to Cart" class="button"><i class="fa fa-shopping-cart"></i>ADD TO CART</a></li>
        </ul>
        <ul class="dicon">
            <li>Share This</li>
            <li><a href="#" title="Facebook" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" title="Twitter" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Google-Plus" data-toggle="tooltip" data-placement="top"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" title="Pinterest" data-toggle="tooltip" data-placement="top"><i class="fa fa-pinterest-p"></i></a></li>
            <li><a href="#" title="Share"><i class="fa fa-plus"></i></a></li>
        </ul>
    </div>
</div>
}
