@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<Product> productByCategory = ViewBag.ProductByCategory as IEnumerable<Product>;
    IEnumerable<Category> category = ViewBag.Category as IEnumerable<Category>;
    IEnumerable<Product> productNew = ViewBag.ProductNew as IEnumerable<Product>;
    IEnumerable<Product> productHost = ViewBag.ProductHost as IEnumerable<Product>;
    IEnumerable<Product> productDetails = ViewBag.ProductDetails as IEnumerable<Product>;
}

<!--======== Category ============-->
<section class="detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-3">
                <div class="lcate">
                    <h6>Danh mục sản phẩm</h6>
                    <ul>
                        @Html.Partial("~/Views/Home/VerticalMenu.cshtml", category)
                    </ul>
                </div>
                <div class="lcate">
                    <div class="lcateimg">
                        <a href="#">
                            <img src="../images/cate.jpg" alt="cartgory" class="img-responsive">
                        </a>
                        <div class="inover">
                            <h3>Sale<br> 50%<br> Off</h3>
                        </div>
                    </div>
                </div>
            </div>
           @Html.Partial("ProductDetailsPartial", productDetails)
            <!--======== Featured Product ============-->
            <div class="product">
                <div class="col-sm-12 text-center">
                    <h2 class="heading">Sản phẩm liên quan</h2>
                </div>
                <div class="col-sm-12 text-center">
                    <div class="owl-carousel pbox">
                        @Html.Partial("_ProductPartialHost", productHost)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======== /Category ============-->