<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link href="~/css/Image.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,500,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700pattern.png" rel="stylesheet">
    <!--=========Bootstrap Library=============-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <!--=========Owl Carousel Library=============-->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <!--=======Default Owl Carousel Library===========-->
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" type="text/css">
    <!--=========Animate Style=============-->
    <link rel="stylesheet" href="~/css/animate.css" type="text/css">
    <!--=========Custome Style=============-->
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <!--=========Green Style=============-->
    <link rel="stylesheet" title="green" href="~/css/style.css" type="text/css" data-default-color="true">
    <link href="~/css/Image.css" rel="stylesheet" />
</head>
<body>
    <div class="row tophead">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <partial name="_LoginHeaderPartial" />
        </div>
    </div>
    <div>

    </div>
    @RenderBody()
</body>
</html>
