
@{
    ViewData["Title"] = "DANNY SHOP - Login";
}

<div class="container-fluid">
    <div class="row tophead">
        <div class="col-xs-12 col-sm-12 col-lg-12">
            <partial name="_LoginPartial" />
        </div>
    </div>
</div>
