@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
}
@{ 
    Layout = "_LayoutLogin";
}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title imge-bg">
                <span class="login100-form-title-1">
                    ĐĂNG NHẬP
                </span>
            </div>
            <form class="login100-form validate-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="wrap-input100 validate-input m-b-26" >
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control border-primary" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1" asp-for="Input.RememberMe">
                            Nhớ mật khẩu
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            Quên mật khẩu?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
